@font-face {
  font-family: GraphikRegular;
  src: url('../fonts/graphik/Graphik-Regular.otf');
}

@font-face {
  font-family: GraphikMedium;
  src: url('../fonts/graphik/Graphik-Medium.otf');
}

@font-face {
  font-family: GraphikSemiBold;
  src: url('../fonts/graphik/Graphik-Semibold.otf');
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: GraphikRegular, sans-serif;
}

.semibold {
  font-family: GraphikSemiBold, sans-serif;
  letter-spacing: 2px;
  color: rgba(67, 67, 67, .8)
}

.bold {
  font-family: GraphikMedium, sans-serif;
  letter-spacing: 2px;
  color: rgba(67, 67, 67, .8)
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
